/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', 'sans-serif';
    box-sizing: border-box;
}

body {
    background-color: #efefef;
}

/* Navigation Bar */
nav {
    background-color: #1876f2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    width: 160px;
    margin-right: 45px;
    cursor: pointer;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
}

.nav-left ul li {
    list-style: none;
    display: inline-block;
    cursor: pointer;
}

.nav-left ul li img {
    width: 28px;
    margin: 0 15px;
}
/* nav-right  */
.nav-user-icon img {
    width: 50px;
    border-radius: 50%;
}

.nav-user-icon {
    margin-left: 30px;
    cursor: pointer;
}

.search-box {
    background-color: #efefee;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.search-box img {
    width: 18px;
}

.search-box input {
    border: 0;
    outline: none;
    background: transparent;
    width: 100%;
    padding: 10px;
}

.online {
    position: relative;
}

.online::after {
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #efefef;
    border-radius: 50%;
    position: absolute;
    background: #41db51;
    top: 0;
    right: 0;
}
/* Container */
.container{
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
}
.left-sidebar{
    /* background: #cbdffa; */
    position: sticky;
    flex-basis: 25%;
    top: 70px;
    align-self: flex-start;
}
.right-sidebar{
    background: #fff;
    position: sticky;
    flex-basis: 25%;
    top: 70px;
    align-self: flex-start;
    padding: 20px;
    color: #626262;
    border-radius: 4px;
}
.main-content{
    flex-basis: 47%;
}

.imp-links a, .shortcut-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #626262;
    width: fit-content;
}
.imp-links a img{
    width: 25px;
    margin-right: 15px;
}
.imp-links a:last-child{
    color: #1876f2;
}
.imp-links{
    border-bottom: 1px solid #ccc;
}
.shortcut-links a img{
    width: 50px;
    border-radius: 4px;
    margin-right: 15px;
}
.shortcut-links p{
    margin: 25px 0;
    font-weight: 500;
    color: #626262;
}
/* Right Sidebar  */
.sidebar-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}
.sidebar-title h4{
    font-weight: 600;
    font-size: 16px;
}
.sidebar-title a{
    text-decoration: none;
    color: #1876f2;
    font-size: 12px;
}
.event{
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
}
.left-event{
    height: 65px;
    width: 65px;
    margin-right: 15px;
    padding-top: 10px;
    position: relative;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.left-event span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #1876f2;
    color: #fff;
    font-size: 10px;
    padding: 4px 0;
}
.event p{
    font-size: 12px;
}
.event a{
    font-size: 12px;
    text-decoration: none;
    color: #1876f2;
}
.sidebar-ads{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
}
.online-list{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.online-list .online img{
    display: flex;
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}
.online-list .online::after{
    top: unset;
    bottom: 0;
    left: 30px;
}
/* Center Container  */
.story-gallery{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.story{
    flex-basis: 18%;
    padding-top: 32%;
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.story img{
    position: absolute;
    width: 45px;
    border-radius: 50%;
    top: 10px;
    left: 10px;
    border: 5px solid #1876f2;
}
.story p{
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 14px;
}
.story0{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(images/status-1.png);
}
.story1{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(images/status-2.png);
}
.story2{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(images/status-3.png);
}
.story3{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(images/status-4.png);
}
.story4{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(images/status-5.png);
}
.story.story0 img{
    top: unset;
    left: 35%;
    bottom: 40px;
    border: 0;
    width: 35px;
}
/* write-post-conatiner */
.write-post-container, .post-container{
    background: #fff;
    width: 100%;
    padding: 20px;
    border-radius: 6px;
    color: #626266;
}
.user-profile{
    display: flex;
    align-items: center;
}
.user-profile img{
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}
.user-profile p{
    margin-bottom: -5px;
    font-weight: 500;
    color: #626262;
}
.user-profile small{
    font-size: 12px;
}
.post-input-container{
    padding-left: 55px;
    padding-top: 20px;
}
.post-input-container textarea{
    width: 100%;
    background: transparent;
    border: 0;
    outline: none;
    border-bottom: 1px solid #ccc;
    resize: none;
}
/* Posts Links  */
.add-post-links{
    display: flex;
    margin-top: 10px;
}
.add-post-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    margin-right: 30px;
    font-size: 13px;

}
.add-post-links a img{
    width: 20px;
    margin-right: 10px;
}
.post-container{
    width: 100%;
    margin: 30px 0;
}
.user-profile span{
    font-size: 13px;
    color: #9a9a9a;
}
.post-text{
    color: #9a9a9a;
    margin: 15px 0;
    font-size: 15px;
}
.post-text span{
    color: #626262;
    font-weight: 900;
}
.post-text a{
    text-decoration: none;
    color: #1876f2;
}
.post-img{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
}
.post-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.activity-icons div{
    display: inline-block;
    align-items: center;
    margin-right: 30px;
}
.activity-icons div img{
    width: 18px;
    margin-right: 10px;
    cursor: pointer;
}
.post-profile-icon{
    display: flex;
    align-items: center;
}
.post-profile-icon img{
    width: 20px;
    border-radius: 50%;
    margin-right: 5px;
}